* {
  margin: 0;
  padding: 0
}

body {
  background-color: #000
}

.card {
  width: 700px;
  background-color: #efefef;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.image img {
  transition: all 0.5s
}

.card:hover .image img {
  transform: scale(1.5)
}

.profile{
  width:80%;
}

.btn {
  height: 140px;
  width: 140px;
  border-radius: 50%
}

.name {
  font-size: 22px;
  font-weight: bold
}

.idd {
  font-size: 14px;
  font-weight: 600
}

.idd1 {
  font-size: 12px
}


.btn1 {
  height: 40px;
  width: 250px;
  border: none;
  background-color: #000;
  color: #aeaeae;
  font-size: 15px
}

.myLinks{
  text-align: center;
  text-decoration: none;
  padding-top: 5%;
}

.text span {
  font-size: 13px;
  color: #545454;
  font-weight: 500
}

.icons i {
  font-size: 19px
}

hr .new1 {
  border: 1px solid
}

.join {
  font-size: 14px;
  color: #a0a0a0;
  font-weight: bold
}

.date {
  background-color: #ccc
}

.footer{
  padding-top: 10%;
}

.footer-text{
  font-size: 12px;
  padding-top: 20%;
}

.ingressive{
  float: right;
  width: 60%;
  padding-top: 5%;
}